.container-content {
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
}

.container-content .sidebar {
	display: none;
	flex-direction: column;
	width: 20%;
}

.container-filter-menu {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 10px;
}
#btn-filter-menu img {
	width: 2rem;
}

.container-content .container-results {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container-content .sidebar > h3 {
	margin-bottom: 10px;
}
.container-content .sidebar > input[type=button] {
	all: unset !important;
	padding: 10px 0 !important;
}
.container-content .sidebar > input[type=button]:hover {
	background-color: var(--platinum) !important;
}

#container-results {
	padding: 0 20px;
}

#container-results

/* Cartão de planta. */
.card-plant {
	width: 200px;
	height: 300px;
	background-color: var(--platinum);
	border: 1px solid var(--graphite-gray);
	border-radius: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
}
.card-plant:nth-child(even) {
	margin: 0 5px;
}
.card-plant:hover {
	background-color: #EEFEEE !important;
	cursor: pointer;
}
.card-plant img {
	width: 100%;
	height: 50%;
}
.card-plant > strong {
	margin: 5%;
}
.card-plant > p {
	flex: 1;
}
.card-plant > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1081px) {
	.container-content {
		flex-direction: row;
	}

	.container-content .sidebar {
		display: flex;
		border-right: 1px solid var(--avocado-green);
		height: 400px;
		padding-right: 10px;
	}

	.container-filter-menu {
		display: none;
	}

	.container-content > section {
		justify-content: flex-start;
	}

	#container-results {
		display: grid;
		grid-template-columns: auto auto auto auto;
	}

	#container-results > h3 {
		grid-row: 1;
		grid-column: 1 / 5;
		margin-bottom: 20px;
	}
}
