@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/* Cores */
:root {
	--avocado-green: #568203;
	--napier-green: #2A8000;
	--kaitoke-green: #004830;
	--baby-powder: #FEFEFA;
	--old-wood: #F0EEE4;
	--graphite-gray: #4B4E53;
	--gold: #fdd700;
}

/* Redefinições */
* {
	transition: 0.2s;
}

*:hover {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	color: var(--graphite-gray);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button, input[type=submit] {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	all: unset;
}

button, input {
	border-radius: 3px !important;
}

input:not(input[type=submit]) {
	background-color: var(--old-wood);
	padding-left: 3%;
	border: 1px solid var(--napier-green);
}

input:not(input[type=submit]):focus {
	border: 1px solid var(--gold);
}

a {
	text-decoration: none;
	color: var(--napier-green);
}

a:hover {
	color: var(--kaitoke-green);
}

.icon-light {
	filter: invert(1);
}

.icon-dark {
	filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(70%) contrast(119%);
}

.main-container {
	flex: 1;
}

.button-dark {
	background-color: var(--avocado-green) !important;
	color: var(--baby-powder) !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
}

.button-dark:hover {
	background-color: var(--kaitoke-green) !important;
	cursor: pointer !important;
}
