.container-content {
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.container-content > section:nth-child(even) {
	margin: 20px 0;
}

.container-content > section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#introduction {
	flex-direction: column;
}

@media screen and (min-width: 1081px) {
	.container-content > section {
		justify-content: flex-start;
	}
}
